<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="Тег"/>
        <button type="submit">Добавить</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>Список сообщений:</div>
<div>
    <!--action - действие(скажет по какому mapping мы будем искать) -->
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit">Найти</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <b>{{text}}</b>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>